﻿
<p class="divHead"></p>
<h3>Add contact</h3>
<table class="table">
    <tr>
        <td><b>First Name</b></td>
        <td>
            <input type="text" ng-model="contactFirstName" />
        </td>
        <td><b>Last Name</b></td>
        <td>
            <input type="text" ng-model="contactLastName" />
        </td>
    </tr>
    <tr>
        <td><b>Address</b></td>
        <td>
            <input type="text" ng-model="contactAddress" />
        </td>
        <td><b>City</b></td>
        <td>
            <input type="text" ng-model="contactCity" />
        </td>
    </tr>
    <tr>
        <td><b>Zip code</b></td>
        <td>
            <input type="text" ng-model="contactZipCode" />
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td><b>Phone numbers</b></td>
        <td>
            <span ng-repeat="phone in contactPhoneNumbers">
                <input type="text" id="phoneNumber{{$index}}" name="phoneNumber" ng-model="phone.number" />
                <button class="btn btn-link" style="color:crimson" ng-click="removePhone($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button><br />
            </span>
            <button class="btn btn-small btn-info" ng-click="addNewPhones()">Add phone number</button>
        </td>

        <td><b>Emails</b></td>
        <td>
            <span ng-repeat="email in contactEmails">
                <input type="text" id="emailAddress{{$index}}" name="emailAddress" ng-model="email.address" />
                <button class="btn btn-link" style="color:crimson" ng-click="removeEmail($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button><br />
            </span>
            <button class="btn btn-small btn-info" ng-click="addNewEmails()">Add email</button>
        </td>
    </tr>
</table>

<tags-input ng-model="contactTags"></tags-input>

<div style="margin-top:50px">
    <input type="button" class="btn btn-default" value="Save" ng-click="AddContact()" />
    <input type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />
</div>