﻿

<div class="divList">
    <div class="input-group" style="padding:20px 0 20px 0">
        Search by:
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="searchCriteria" uib-btn-radio="'firstName'">First name</label>
            <label class="btn btn-primary" ng-model="searchCriteria" uib-btn-radio="'lastName'">Last name</label>
            <label class="btn btn-primary" ng-model="searchCriteria" uib-btn-radio="'tag'">Tag</label>
        </div>
        <input type="text" name="searchQuery" ng-model="searchQuery" class="form-control" placeholder="Search" style="width:auto;margin-left:10px">
        
            <button class="btn btn-default glyphicon glyphicon-search" style="font-size:21px;margin:0 0 2.5px 5px" ng-click="Search()"></button>

    </div>
    <table class="table table-hover">
        <tr>
            <td><b>ID</b></td>
            <td><b>First name</b></td>
            <td><b>Last name</b></td>
            <td><b>Address</b></td>
            <td><b>City</b></td>
            <td><b>Zipcode</b></td>
            <td><b>Phone numbers</b></td>
            <td><b>Emails</b></td>
            <td><b>Tags</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="contact in contacts">
            <td>
                {{contact.ID}}
            </td>
            <td>
                {{contact.FirstName}}
            </td>
            <td>
                {{contact.LastName}}
            </td>
            <td>
                {{contact.Address}}
            </td>
            <td>
                {{contact.City}}
            </td>
            <td>
                {{contact.ZipCode}}
            </td>
            <td>
                <span ng-repeat="phone in contact.PhoneNumbers">
                    {{phone}} <br />
                </span>
            </td>
            <td>
                <span ng-repeat="email in contact.Emails">
                    {{email}} <br />
                </span>
            </td>
            <td>
                <span ng-repeat="tag in contact.Tags">
                    {{tag}} <br />
                </span>
            </td>
            <td>
                <button ng-click="showDetails(contact.ID)" class="btn btn-link">Details</button>
                <span ng-click="showEdit(contact.ID)" class="btn btn-primary">Edit</span>
                <span ng-click="deleteContact(contact)" class="btn btn-danger">Delete</span>
            </td>
        </tr>
    </table>
</div>

<span ng-click="showAdd()" class="btn btn-default">Add Contact</span>