﻿<div class="container">
    <h3>Contact details</h3>
    <table class="table" ng-init="GetContact()">
        <tr>
            <td><b>First Name</b></td>
            <td>
                {{contactFirstName}}
            </td>
        </tr>
        <tr>
            <td><b>Last Name</b></td>
            <td>
                {{contactLastName}}
            </td>
        </tr>
        <tr>
            <td><b>Address</b></td>
            <td>
                {{contactAddress}}
            </td>
        </tr>
        <tr>
            <td><b>City</b></td>
            <td>
                {{contactCity}}
            </td>
        </tr>
        <tr>
            <td><b>Zip code</b></td>
            <td>
                {{contactZipCode}}
            </td>
        </tr>
        <tr>
            <td><b>Phone numbers</b></td>
            <td>
                <span ng-repeat="phone in contactPhoneNumbers">
                    {{phone}} <br />
                </span>
            </td>
        </tr>
        <tr>
            <td><b>Emails</b></td>
            <td>
                <span ng-repeat="email in contactEmails">
                    {{email}} <br />
                </span>
            </td>
        </tr>
        <tr>
            <td><b>Tags</b></td>
            <td>
                <span ng-repeat="tag in contactTags">
                    {{tag}} <br />
                </span>
            </td>
        </tr>
    </table>
</div>